---
layout: default
---

<div class="hero has-background-black-bis is-fullheight">
  <div class="hero-body">
      <div class="container">
          <div class="columns is-centered">
              <div class="column is-one-two">
                      <div class="field">
                        <div class="content">
                          
                                  

                              <div class="card has-background-dark has-text-light">
                                  <div class="card-content"><div class="content">

                                  <div class="field">
                                    <h5>NIK Parse</h5>
                                  </div>
                                  
                                  <div class="field"> 
                                      <input id="nik"
                                      class="input is-dark"
                                      type="text"
                                      placeholder="Masukkan NIK"
                                    />
                                      <button id="proses" class="button">Submit</button>
                                  </div>
                                  
                                  <div class="field">

                                  
                                  </div>
                                  

                              </div>
                          </div>
                          
                      
                  </div>
            
          </div>
      </div>
  </div>
</div>
                                 
<div id="hasil"></div>


<script src="{{ site.files }}/assets/nikparse.js"></script>